<html>

<head>
    <title>Vue.js Individual Work</title>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="x_classes.js"></script>
</head>
<body>
    <div id="individual">
        <main>

             <!--Radio buttons to help the user choose the type of sorting they want-->
            <div>
                <h3>Sort:</h3>
                <input type="radio" id="subjectSort" value="subjectSort" v-model="RadioSorting">
                <label for="subjectSort">Sort by Subject</label>
              </div>
              <div>
                <input type="radio" id="LocationSort" value="LocationSort" v-model="RadioSorting">
                <label for="LocationSort">Sort by Location</label>
              </div>
              <div>
                <input type="radio" id="PriceSort" value="PriceSort" v-model="RadioSorting">
                <label for="PriceSort">Sort by Price</label>
              </div>
              <div>
                <input type="radio" id="AvailabilitySort" value="AvailabilitySort" v-model="RadioSorting">
                <label for="AvailabilitySort">Sort by Availability</label>
              </div>


       <div v-for="x_classes in x_classes">
        
            <img v-bind:src="x_classes.Image">
        
        <p v-text="x_classes.Subject"></p>
        <p>Location : {{x_classes.Location}}</p> 
        <p>Price : {{x_classes.Price}}</p> 
        <p>Available Space: {{x_classes.Space}}</p>  
        </div>
    
    
    </main>
    <div v-for="Items in Sort" :key="Items.id">
        <p v-text="x_classes.Subject"></p>
      </div>
   
       </div>
                
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#individual',
            data: {
                //Code for displaying classes from the x_classes.js file
              x_classes:x_classes,
               
              //An array of the categories used for sorting
              Sorting: [],

                //Default sorting
                RadioSorting: x_classes.Subject, 

            },

            //Computed properties
            computed:{
                Sort() {
    let Items = [this.Sorting]; // ruplicating the sorting array above
    switch (this.RadioSorting) {
      case 'subjectSort':
      Items.sort((a, b) => a.x_classes.Subject.localeCompare(b.x_classes.Subject));
        break;
      case 'locationSort':
      Items.sort((a, b) => a.x_classes.Location.localeCompare(b.x_classes.Location));
        break;
        case 'priceSort':
        Items.sort((a, b) => a.x_classes.Price.localeCompare(b.Price));
        break;
      case 'availabilitySort':
      Items.sort((a, b) => b.x_classes.Availability.localeCompare(b.Availability));
        break;
      default:
        break;
    }
    return Items;
  },


}

        })
       </script>
</body>
</html>
