<html>

<head>
  <title>Vue.js Individual Work</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="x_classes.js"></script>

  <style>
    #individual {
      background-color: azure;
      background-size: cover;
    }

    #item {
      color: white;
      background-color: #212142;
      max-width: 320px;
      margin-right: 3rem;
      margin-bottom: 3rem;
      padding: 1rem;
      border: 1px solid #212142;
      border-radius: 1rem;
      display: inline-block;
    }

    img {
      box-sizing: border-box;
      padding-left: 0%;
      object-fit: cover;
      width: 100%;

    }
  </style>

</head>

<body>
  <div id="individual">
    <h1 v-text="sitename"></h1>
    <button v-on:click='showCheckout'>
      {{cartItemCount}}
      <span class="fas fa-cart-plus"></span> Checkout
    </button>
    </header>
    <main>
      <div v-if='showProduct'>
        <!--Radio buttons to help the user choose the type of sorting they want-->
        <div>
          <h3>Sort:</h3>
          <input type="radio" id="subjectSort" value="subjectSort" v-model="sortOption" checked="true">
          <label for="subjectSort">Sort by Subject</label>
        </div>

        <div>
          <input type="radio" id="locationSort" value="locationSort" v-model="sortOption">
          <label for="locationSort">Sort by Location</label>
        </div>

        <div>
          <input type="radio" id="priceSort" value="priceSort" v-model="sortOption">
          <label for="priceSort">Sort by Price</label>
        </div>

        <div>
          <input type="radio" id="availabilitySort" value="availabilitySort" v-model="sortOption">
          <label for="availabilitySort">Sort by Availability</label>
        </div>

        <!--Code to allow the user to select where to arrange the items in ascending or 
            descending order-->
        <div>
          <h3>Order By</h3>
          <input type="radio" id="asc" value="asc" v-model="sortOption">
          <label for="asc">Ascending order</label>
        </div>

        <div>
          <input type="radio" id="desc" value="desc" v-model="sortOption">
          <label for="desc">Descending Order</label>
        </div>

        <!--Displaying items sorted by order of Subject upon button selection-->
        <div v-if="sortOption === 'subjectSort'">
          <div id="item" v-for=" x_classes in SubjectSort">
            <img id="img"><img v-bind:src="x_classes.Image"></img>
            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <p>Available Space:{{ x_classes.Space - cartCount(x_classes.id)}}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>
            <!-- <span v-if="x_classes.Space - cartCount(x_classes.id) < 5"> Only {{x_classes.Space - cartItemCount}}
              left!</span>

            <span v-if='x_classes.Space === cartCount(x_classes.id)'>All out!</span>
            <span v-else>Buy now!</span> -->


          </div>
          </br></br>
        </div>

        <!--Displaying items sorted by order of Location upon radio button selection-->
        <div v-if="sortOption === 'locationSort'">
          <div id="item" v-for=" x_classes in LocationSort">

            <img id="img"><img v-bind:src="x_classes.Image"></img>

            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <p>Available Space:{{ x_classes.Space - cartCount(x_classes.id)}}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>


          </div>
        </div>

        <!--Displaying items sorted by order of Price upon radio button selection-->
        <div v-if="sortOption === 'priceSort'">
          <div id="item" v-for=" x_classes in PriceSort">
            <img id="img"><img v-bind:src="x_classes.Image"></img>
            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <p>Available Space:{{ x_classes.Space - cartCount(x_classes.id)}}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>

            <br>
          </div>
        </div>


        <!--Displaying items sorted by order of Availability upon radio button selection-->
        <div v-if="sortOption === 'availabilitySort'">
          <div id="item" v-for=" x_classes in SpaceSort">
            <img id="img"><img v-bind:src="x_classes.Image"></img>
            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <p>Available Space:{{ x_classes.Space - cartCount(x_classes.id)}}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>

          </div>
        </div>

        <!--Displaying items in ascending order-->
        <div v-if="sortOption === 'asc'">
          <div id="item" v-for=" x_classes in sortedItemsAsc">
            <img id="img"><img v-bind:src="x_classes.Image"></img>
            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <p>Available Space:{{ x_classes.Space }}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>

          </div>
        </div>
        <!--Displaying items in descending order-->
        <div v-if="sortOption === 'desc'">
          <div id="item" v-for=" x_classes in sortedItemsDesk">
            <img id="img"><img v-bind:src="x_classes.Image"></img>
            <p v-text="x_classes.Subject"></p>
            <p>Location : {{x_classes.Location}}</p>
            <p>Price : {{x_classes.Price}}</p>
            <!-- <p>Available Space:{{ x_classes.Space - cartCount(x_classes.id)}}</p> -->
            <p>Available Space:{{ x_classes.Space }}</p>

            <button v-on:click='addToCart(x_classes)' v-if='canAddToCart(x_classes)'>Add to cart</button>
            <button disabled="disabled" v-else>Add to cart</button>



          </div>

        </div>
      </div>


      <div v-else>
        <!-- this is the checkout page -->
        <h2>Checkout</h2>
        <p>
          <strong>First Name:</strong>
          <input onkeypress="return LetterMust(inputL)" v-model.trim="Checkout.firstName" />
        </p>

        <p>
          <strong>Phone Number:</strong>
          <input type="text" onkeypress="return NumberMust(input)" v-model.number="Checkout.number" />
        </p>

        <div id="item" v-for=" x_classes in cart">
          <img id="img"><img v-bind:src="x_classes.Image"></img>
          <p v-text="x_classes.Subject"></p>
          <p>Location : {{x_classes.Location}}</p>
          <p>Price : {{x_classes.Price}}</p>
          <button v-on:click="removeClass">Remove</button>
        </div>



        <!-- <button v-on:click="submitForm">Place Order</button> -->
        <button v-on:click="submitForm" :disabled="isButtonDisabled">Place Order</button>


    </main>
  </div>

  <script type="text/javascript">
    var webstore = new Vue({
      el: '#individual',
      data: {
        sitename: 'After School Activities',

        
        //array to hold number of items in a cart
        cart: [],

        //this holds the checkout details of the user
        Checkout: {
          firstName: '',
          number: '',
        },
        //Code for displaying classes from the x_classes.js file
        x_classes: x_classes,

        //making Subject the default sorting method
        sortOption: "subjectSort",

     
        showProduct: true,
      },
      methods: {

        addToCart(x_classes) {
          this.cart.push(x_classes);
          x_classes.Space -= 1
          console.log(x_classes)

          //     if(x_classes.Spaces > 0){
          //               x_classes.Spaces++
          //               let data = {
          //  "id": `${x_classes.subject[0]}-`+x_classes.id+`-${x_classes.Location[0]}-`+Math.ceil(Math.random()*1000000),
          //                   "item":item,
          //               }
          //               this.cart.push(data)
          //           }

        },

        canAddToCart(x_classes) {
          return x_classes.Space > this.cartCount(x_classes.id);
        },

        showCheckout() {
          // console.log(this.showProduct);
          this.showProduct = this.showProduct ? false : true;
        },
        submitForm() {
          alert('Order submitted!')
        },

        cartCount(id) {
          let count = 0;
          for (let i = 0; i < this.cart.length; i++) {
            // console.log(this.cart, id, 'this is cart and id')
            if (this.cart[i] == id) {
              count++;
            }
          }
          // console.log(count, 'this is count.')
          return count;
        },

        // Remove class from checout
        removeClass(x_classes) {
          this.cart.splice(x_classes, 1);
          x_classes.Space = 5
          //   // cart_item.x_classes.Spaces
          //   //       for(let i = 0; i < this.cart.length; i++){
          //   //           const item = this.cart[i]
          //   //           if(cart_item.id == item.id){
          //   //               this.cart.splice(i,1)
          //   //               break;

          // }}}
        }
      },
      //Computed properties
      computed: {

        isButtonDisabled() {
          return !this.Checkout.firstName || !this.Checkout.number
        },
        //computed property to sort by Subject
        SubjectSort() {
          let SubjectArray = this.x_classes.slice(0);
          function compare(a, b) {
            if
              (a.Subject > b.Subject)
              return 1;
            if
              (a.Subject < b.Subject)
              return -1;
            return 0;
          }
          return SubjectArray.sort(compare);
        },

        ///computed property to sort by Location
        LocationSort() {
          let LocationArray = this.x_classes.slice(0);
          function compare(a, b) {
            if
              (a.Location > b.Location)
              return 1;
            if
              (a.Location < b.Location)
              return -1;
            return 0;
          }
          return LocationArray.sort(compare);
        },

        ///computed property to sort by Price
        PriceSort() {
          let PriceArray = this.x_classes.slice(0);
          function compare(a, b) {
            if
              (a.Price > b.Price)
              return 1;
            if
              (a.Price < b.Price)
              return -1;

            return 0;
          }
          return PriceArray.sort(compare);
        },

        ///computed property to sort by Availability
        SpaceSort() {
          let SpaceArray = this.x_classes.slice(0);
          function compare(a, b) {
            if
              (a.Space > b.Space)
              return 1;
            if
              (a.Space < b.Space)
              return -1;
            return 0;
          }
          return SpaceArray.sort(compare);
        },

        ///computed property to order elements in asc order
        sortedItemsAsc() {
          return this.x_classes.sort((a, b) => {
            return a.Subject.localeCompare(b.Subject);

          });

        },
        ///computed property to order elements in desc order
        sortedItemsDesk() {
          return this.x_classes.sort((a, b) => {
            return b.Subject.localeCompare(a.Subject);

          });

        },

        cartItemCount() {

          return this.cart.length;
        },

        //computed property to ensure user enters only numeric data
        NumberMust(input) {

          var exp = input.which ? input.which : input.keyCode;

          if (exp > 31 && (exp < 48 || exp > 57)) 
          {return false;}
          {return true;}

        },
        LetterMust(inputL) {

          var letters = /^[A-Za-z]+$/;
          if (inputL.value.match(letters)) {

            return true;
          }
          else {
            return false;
          }
        }
      },

    });
  </script>
</body>

</html>